<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Our Values</h1>
  <p>
    At Moon Resort we understand that our employees are our biggest asset and are invaluable in creating great experiences for our guests. Our leadership approach is valued based, which we refer to as - livingMoon.
      Our goal is to develop a sustainable advantage through the alignment of employee behaviour with our brand promise. This involves shaping our identity and optimising the potential & capacity of employees to deliver distinctive, consistent and compelling guest experiences.
  </p>

  <h1>Our Vision</h1>
  <p>
      Our vision is to provide the greatest possible variety of quality hospitality, leisure, gaming and entertainment experiences. 
      From basic economy through to the finest luxury, our aim is to consistently provide our guests with an experience that meets their needs and exceeds their expectations – regardless of whether they are on business, at leisure, on their own, with colleagues, far from home or just down the road.
      Our guests are treated in style… the comfort of a personal space at the end of a long working day; holidays that relax and rejuvenate; gaming that thrills and excites; theatre that enthrals; food that delights and endless opportunities to be entertained.
      
      Experiences shape your life – escape to ours.
  </p>
</body>
</html>
