form {
    width: 1000px;
    min-height: 350px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px  #970747;
    padding: 5%;
    
}

.choice{
    box-shadow: 0 9px 50px  #d45c92;  
    width: 900px;
    height: auto;
    border-radius: 3px;
    margin: 1% auto;
    padding: 3%;
}
.summary {
    box-shadow: 0 9px 50px  #970747;  
    width: 1000px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    padding: 5%;
}

table{
    width: 100%;
    color: #5E6472;    
}

td{
    width: 30%
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #f1bcd4;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}

.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}