<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <body>
    <header>
        <h1 id="headText">
            <em>Moon Resort</em>
        </h1>
            <nav>
                <div class="navigation">
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/gallary">Gallary</a></li>
                        <li><a routerLink="/booking">Booking</a></li>
                        <li><a routerLink="/about">About</a></li>
                        <li><a routerLink="/signin">Sign in</a></li>
                    </ul>
                </div>
            </nav>
    </header> 
    <div class="bg">
        
        <router-outlet></router-outlet>
    </div>
     <footer>
         <table>
             <th>Follow Us</th>
             <tr>
                 <td>
                    <i class="fa fa-facebook-square" style="font-size:24px"></i>
                </td>
                <td>
                    Hotel
                </td>
            </tr>
             <tr>
                <td>
                    <i class="fa fa-instagram" style="font-size:24px"></i>
                </td>
                <td>
                    @hotel
                </td>
             </tr>
             <tr>
                <td>
                    <i class="fa fa-linkedin" style="font-size:24px"></i>
                </td>
                <td>
                    @hotel
                </td>
             </tr>
             <tr>
                <td>
                    <i class="fa fa-twitter" style="font-size:24px"></i>
                </td>
                <td>
                    @hotel
                </td>
             </tr>
             <tr>
                <td>
                   <i class="fa fa-youtube" style="font-size:24px"></i>
                </td>
                <td>
                    https://www.youtube.com/Hotel
                </td>
             </tr>
         </table>
            
            
            
            
            
     </footer>
</body>
</html>
