<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Gallary</h1>
      </div>
      
      <!-- Photo Grid -->
      <div class="row"> 
        <div class="column">
          <img src="../../assets/images/Tanzania_04.jpg" style="width:100%">
          <img src="../../assets/images/Tanzania_NorthSerengeti_ElewanaSerengetiPioneerGameDrive.jpg" style="width:100%">
          <img src="../../assets/images/sea-nature-rayong-resort-and-hotel-3.jpg" style="width:100%">
          <img src="../../assets/images/room9.jpg" style="width:100%">
          <img src="../../assets/images/room8.jpg" style="width:100%">
          <img src="../../assets/images/room.jpg" style="width:100%">
          <img src="../../assets/images/resort_hotel_pool_relaxation_luxury_palm_trees_110912_300x168.jpg" style="width:100%">
          <img src="../../assets/images/gallary1.jpg" style="width:100%">
          <img src="../../assets/images/Bora-Bora-Island-1-550x357.png" style="width:100%">
        </div>
        <div class="column">
          <img src="../../assets/images/resort_hotel_pool_relaxation_luxury_palm_trees_110912_1600x1200.jpg" style="width:100%">
          <img src="../../assets/images/resort.jpg" style="width:100%">
          <img src="../../assets/images/port-nature-luxury-resort-hotel-spa-7.jpg" style="width:100%">
          <img src="../../assets/images/pool.jpg" style="width:100%">
          <img src="../../assets/images/party-event-in-bali-hotel-ubud-interior-deco-resort_bali-style-interior-design_interior-design_interior-design-tumblr-definition-salary-school-nyc-free-software-indu.jpg" style="width:100%">
          <img src="../../assets/images/parakkat-nature-hotels-and-resorts-pallivasal-idukki-hotels-z62pod.jpg" style="width:100%">
          <img src="../../assets/images/best-krabi-spa-resorts.jpg" style="width:100%">
          <img src="../../assets/images/best-hotels-kl.jpg.jpg" style="width:100%">
        </div>  
        <div class="column">
          <img src="../../assets/images/maldives_tropical_bungalows_sky_90627_1600x1200.jpg" style="width:100%">
          <img src="../../assets/images/mainImage9.jpg" style="width:100%">
          <img src="../../assets/images/ladyrelaxing.jpg" style="width:100%">
          <img src="../../assets/images/island.jpg" style="width:100%">
          <img src="../../assets/images/inspiration.jpg" style="width:100%">
          <img src="../../assets/images/index2.jpg" style="width:100%">
          <img src="../../assets/images/glass-bottom-boat-amedee-island-e1435818922509-510x567.jpg" style="width:100%">
          <img src="../../assets/images/bed.jpg" style="width:100%">
          <img src="../../assets/images/amedee-island-cruise-boat.jpg" style="width:100%">
        </div>
      </div>
</body>
</html>
