<div class="summary">
  <header>
    Booking Summary
  </header>
  <table align="center">
    <th id="th">User Details</th>
    <th id="th">Booking Details</th>
    <tr>
      <td>{{lName}} {{fName}}</td>
      <td>{{checkin}}</td>
    </tr>
    <tr>
      <td>{{email}}</td>
      <td>{{checkout}}</td>
    </tr>
    <tr>
      <td>{{cell}}</td>
      <td>{{payCardNum}}</td>
    </tr>
    <tr>
      <td>{{country}}</td>
      <td>{{payCardType}}</td>
    </tr>
    <tr>
      <td>{{address}}</td>
      <td>R{{totPrice}}</td>
    </tr>
  </table>

  <button routerLink="/confirm" style="display: block; margin: 0 auto;">Confirm</button>
</div>
  